@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/*Espaçamento do texto*/
.cabecalho2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 200px;
}
/*Espaçamento da linha*/
.linha2{
    margin-top: 150px;
}
/*configuração do texto*/
.conteudo-principal2-escrito{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #181616;
}
/*Espaçamento da imagem*/
.imagem2{
    display: flex;
    gap: 40px;
    justify-content:center
}
/*Configuração da imagem*/
.conteudo-principal2-imagem{
    border: 1px solid #030303;
    width: 480px;
    height: 420px ;
}
/*Configuração do botão esquerdo*/
.besquerdo{
    border-radius: 20px;
    margin-top: 175px;
    border: none;
    background-color: #363636;
    width: 30px;
    height: 60px;
    color: #ffffff;
    font-weight: 400;
    font-size: 29px;
} 

.besquerdo:hover{
    background-color: rgba(73, 59, 48, 0.53);
}
/*Configuração do botão direito*/
.bdireito{
    border-radius: 20px;
    margin-top: 175px;
    border: none;
    background-color: #363636;
    width: 30px;
    height: 60px;
    color: #ffffff;
    font-weight: 400;
    font-size: 29px;
}

.bdireito:hover{
    background-color: rgba(73, 59, 48, 0.53);
}
/*Espaçamento da descrição da imagem*/
.descricao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Configuração da descrição da imagem1*/
.des1{
    margin-left: 240px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}
/*Configuração da descrição da imagem2*/
.des2{
    margin-right: 240px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;

}
/*Espaçamento do valor da imagem*/
.valor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Configuração do valor da Imagem1*/
.v1{
    margin-left: 210px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}
/*Configuração do valor da Imagem2*/
.v2{
    margin-right: 220px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}
/*Espaçamento da linha*/
.linha3{
    margin-top: 60px;
}
/*Espaçamento dos valores 2 pag*/
.baixo{
    display:flex;
    gap: 40px;
    
}
/*Espaçamento daos textos inferiores 2pag*/
.noticia{
    padding: 60px;
}
/*Configuração do titulo 2pag*/
.titulo{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #000000;
}
/*Configuração do paragrafro 2pag*/
.paragrafo{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}
/*espaçamento do e-mail 2pag*/
.email{
    margin-left: 100px;
    margin-top: 120px; 
}
/*configuração do e-mail 2pag*/
.cemail{
   height: 40px;
   width: 300px;
}
/*configuração e espaçamento do botão "subscribe" 2pag*/
.sub{
    margin-top: 120px;
    background-color: #ebebeb;
    width: 120px;
    height: 40px;
    border: none;
    color: #000000;
    border-radius: none;
    font-family: 'Rajdhani', sans-serif ;
    font-weight: 400;
    font-size: 19px;
}
.sub:hover{
    background-color: rgb(214, 93, 0);
}