@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* Alinhamento Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: #ffffff50
}

/* contorno da lupa e separação do logo*/
.pesquisa{
    margin-right: 840px;
    border: 1px solid #363636;  
}
/* contorno do Search e tamanho da barra de pesquisa*/
.search{
    
    border: none;
    height: 30px;
    width: 394px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
/* Alinhamento do logo*/
.cabecalho-logo {
    height: 20px;
    
}
/* Separação dos itens*/
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
/* Customização do Botão do carrinho*/
.botao-cabecalho{
    background-color: #363636;
    width: 120px;
    height: 28px;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    font-family: 'Rajdhani', sans-serif ;
    font-weight: 400;
    font-size: 16px;
}
.botao-cabecalho:hover{
    background-color: rgba(73, 59, 48, 0.53);
}
/* Customização dos itens superiores*/
.cabecalho-menu-item1 {
    
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
/* Customização dos itens superiores e barra entre eles*/
.cabecalho-menu-item {
    border-left: 1px solid #000000;
    height: 20px;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

/* Escrita central*/
.conteudo-principal {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*customizar a barra*/
.conteudo-principal-escrito {
    
    margin: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    border-block-end:  0.1px ;
    
}
/*Linha a cima das imagens*/
.linha{
    display: block;
    width:200px;
    margin:auto
}
/*Configuração da borda e tamanho das imagens*/
.conteudo-principal-imagem{
    border: 1px solid #030303;
    width: 280px;
    height: 220px ;
    
}
/*Centraçização e espaçamento das imagens*/
.imagem {
    display: flex;
    margin: 80px;
    gap: 60px;
    justify-content:center
    
}
/*Centraçização e espaçamento do botão "Shop Now"*/
.conteudo-principal-botao{
    border: none;
    margin-left: 810px;
    background-color: #363636;
    width: 300px;
    height: 60px;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif ;
    font-weight: 400;
    font-size: 29px;
}
.conteudo-principal-botao:hover{
    background-color: rgba(73, 59, 48, 0.53);
}
